<nav class="navbar navbar-light bg-light justify-content-between mb-2">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to "Events", root_path, class: 'mx-2 navbar-brand' %>
    </div>
    <%= session_check %>
  </div>
</nav>
